.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  padding: 16px;
}

.card {
  width: 100%;
  max-width: 600px;
}

.list-item-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
