.status-list-card {
  max-width: 600px;
  margin: 20px auto; /* Sayfa ortalamak için */
  padding: 20px;
}

.status-link {
  flex: 1; /* Mat-list-item içinde link genişlesin */
  text-decoration: none;
  color: #3f51b5;
  font-weight: 500;
}

.sort-select {
  width: 150px;
  margin-bottom: 10px;
}
